/* Estilos base que se aplicarán en todas las pantallas */
.sect {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.formulario-caja {
    position: relative;
    width: 550px;
    height: 800px;
    background: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.IniciarSeccion {
    font-size: 2em;
    color: #fff;
    text-align: center;
    position: relative;
}

.inputCaja {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid white;
}

.inputCaja label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus~label,
input:valid~label {
    top: -5px;
}

.inputCaja input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputCaja ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.BtnIngresar {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.BtnIngresar:hover {
    background-color: blue;
    color: #fff;
}

.registrarse {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.registrarse p {
    color: #fff;
}

 

.registrarse a {
    text-decoration: none;
    color: #001aff;
    font-weight: 600;
}

/* Estilos para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media (max-width: 768px) {
    .formulario-caja {
        width: 90%;
        /* Cambia el ancho del formulario */
        height: auto;
        /* Ajusta la altura automáticamente */
        padding: 20px;
        /* Añade espacio interno para mejorar la legibilidad */
    }

    .inputCaja {
        width: 100%;
        /* Haz que los campos de entrada ocupen el ancho completo */
    }
}